.App {
  /* text-align: center; */
  /* color: #574e63; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* ///////////TopSpan////--\/\/--//////////// */
.topLevelSpan {
  /* border: 2px solid blue; */
  display: block;
  background-image: url('./Images/newWiman.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33rem;
  font-weight: 400;
  position: relative;
  top: -1rem;
  color: #1E0906;
}

.noImage {
  /* border: 2px solid #ffa500; */
  display: block;
  width: 100%;
  height: 3rem;
  position: relative;
  top: -1rem;
  font-weight: 400;
  color: #1E0906;
  /* color: #FFFBE4 ; */
}

.topNavDiv {
  /* border: 2px solid yellow; */
  width: 100%;
  /* padding-top:1.5rem; */
}

.danasName {
  /* border: 2px solid green; */
  display: inline;
  position: absolute;
  top: 1.5rem;
  left: 1%;
}

.danasName h3 {
  /* border: 2px solid purple; */
  font-family: 'Pinyon Script', cursive;
  display: inline;
  font-size: 64px;
}

@media(max-width: 700px) {
  .danasName {
    /* border: 5px solid lemonchiffon; */
    width: 100%;
    left: 0%;
    top: 0.5rem;
    margin: 0 auto;
  }
}

.navUl {
  /* border: 2px solid red; */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 3rem;
  text-decoration: none;
}

.navUl a {
  font-size: 1.5rem;
  /* color: #FFFBE4; */
  color: #1E0906;
  padding-right: 1.5%;
  text-decoration: none;
}

@media(max-width: 700px) {
  .navUl {
    /* border: 2px solid red; */
    
    justify-content: space-evenly;
    top: 4.5rem;
    /* left: -0.5rem; */
    width: 90%;
  }

  .navUl a {
    top: 6rem;
    font-size: 1.3rem;
  }
}

.animationText {
  /* opacity: 0; */
  /* border: 2px solid blue; */
  width: 10%;
  animation-name: welcomeText;
  /* animation-delay: 3s; */
}

.animationText:active {}

/* ///////////TopSpan///--/\/\--////////////// */

/* //////////////home/////////////////// */
.content {
  font-size: 1.2rem;
}

/* //////////////home/////////////////// */



/* ///////////About/////////////////////////// */

.centered-main {
  width: 80%;
  margin: 0 auto;
  position: relative;
  /* top: 5rem; */
}

.aboutDanah2 {
  text-align: center;
  position: relative;
}

.danaImage {
  width: 20rem;
  height: 25rem;
  display: block;
  float: left;
  margin-right: 1.5rem;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-shape-outside: ellipse();
  shape-outside: ellipse();
}

.aboutMeVerbage {
  font-size: 20px;
  text-align: left;
}

.aboutMeVerbage1::first-letter {
  /* font-size: 150%; */
  /* color: ; */
}

@media(max-width: 800px){
  .topLevelparent{
    height: 190rem;
  }
  .danaImage{
    position: relative;
    top: 2rem;
    left: -1rem;
    shape-outside: none;
  }
  .aboutMeVerbage1  {
    /* border: 2px solid red; */
    display: block;
    position: relative;
    top: 3rem;
    /* height: 20rem; */
    width: 100%;
  }
  .firstP{
    /* border: 2px solid blue; */
    /* height: 5rem; */
  }
  .aboutDanah2 {
    position: relative;
    top: 2rem;
  }
}

/* ///////////About/////////////////////////// */


/* ///////////////blog///////////////// */


/* ///////////////blog///////////////// */
@keyframes welcomeText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

footer {
  height: 10rem;
  width: 100%;
  background-color: #574E63;
}
/* ////////////transition CSS/////////// */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

