
.App {
  text-align: center;
  color: #574e63; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* ///////////TopSpan////--\/\/--//////////// */
.topLevelSpan {
  /* border: 2px solid blue; */
  display: block;
  background-image: url('./Images/newWiman.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 53rem;
  font-weight: 400;
  margin-top: -1rem;
  /* /////purple//// */
  /* color: #574E63; */
  color: #1E0906 ;
  /* /////white//// */
  /* color: #FFFBE4 ; */
}
.noImage {
  height: 10rem;
  font-weight: 400;
  color: #1E0906 ;
  /* color: #FFFBE4 ; */
}
.topNavDiv{
  /* border: 2px solid yellow; */
  width: 100%;
  padding-top:1.5rem;
}
.danasName {
  /* border: 2px solid green; */
  display: inline;
  /* margin-right: 28rem; */
  position: absolute;
  left: 1%;
}
.danasName h3 {
  /* border: 2px solid purple; */
  font-family: 'Pinyon Script', cursive;
  display: inline;
  font-size: 64px;
}
@media(max-width: 700px){
  .danasName{
    /* border: 5px solid lemonchiffon; */
    width: 100%;
    left: 0%;
    top: 0.5rem;
    margin: 0 auto;
  }
}
.navUl {
  /* border: 2px solid red; */
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 1rem;
  
  /* padding-right: 3rem; */
  text-decoration: none;
}
.navUl a{
  font-size: 1.5rem; 
  /* color: #FFFBE4; */
  color: #1E0906;
  padding-right: 1.5%;
  text-decoration: none;
}

@media(max-width: 700px){
  .navUl {
    top: 3.5rem;
    left: -0.5rem;
  }
  .navUl a{
    top: 6rem;
    font-size: 1.3rem;
  }
}
.animationText{
  /* opacity: 0; */
  border: 2px solid blue;
  width:10%; 
  animation-name: welcomeText;
  /* animation-delay: 3s; */
}
.animationText:active {
  
}
/* ///////////TopSpan///--/\/\--////////////// */

/* //////////////home/////////////////// */
.content {
  font-size: 1.5rem;
}
/* //////////////home/////////////////// */



/* ///////////About/////////////////////////// */
.centered-main {
  width: 80%;
  margin: 0 auto;
}
/* .danaImageParent {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  display: block;
  /* border:2px solid black; */
/* }  */
.danaImage {
  /* max-width: 100%;
  max-height: 100%; */
  width: 20rem;
  height: 25rem;
  display: block;
  /* border-radius: 50%;
  float: left; */
  float: left;
  margin-right:1.5rem; 
  border: 2px solid black;
  /* margin-top:4rem;  */
  /* margin-bottom:4rem;  */
  border-radius: 50%;
  -webkit-shape-outside:ellipse();
  shape-outside:ellipse();
}
.aboutMeVerbage {
  font-size: 20px;
  text-align: left;
}
.aboutMeVerbage1::first-letter {
  font-size: 150%;
  /* color: ; */
}

/* ///////////About/////////////////////////// */


/* ///////////////blog///////////////// */
.blogParent {
  /* border: 3px solid red; */
  margin: 0 auto;
  width: 70%;
  font-family: 'Open Sans', sans-serif;
}
.blogTitle{
  font-size: 3.5rem;
}
.blogContent{
  font-size: 1.3rem;
}
.blogImageParent{
  border: 2px solid green;
  height: 35rem;
}
.postedImage{
  width: 100%;
  height: 100%;
}
/* ///////////////blog///////////////// */
@keyframes welcomeText {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media(max-width: 800px){
  .blogParent{
    width: 100%;
  }
}

